.box{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 300px;
  gap: 5px;
}

.box button{
  width: 100px;
}
